body{
    background-color: black;
}
.showBox{

    background-color: aliceblue;
    height: 150px;
    width: 25%;
    text-align: center;
}
.circle{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: none;
    position: absolute;


}

.circle--show{
    display: block;
}